@model SecondHandBook.Models.BookADS

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-success">
    <div class="panel-heading text-center"><h4 style="color:blueviolet">Book Details</h4></div>
    <div class="panel-body">
        <div class="row" >
            <div class="column" >
                <img width="200" height="250" src="/img/@Model.ImagePath" alt="Alternate Text" style=" margin-left:15%;margin-top:5%" />
            </div>      
       
        <div class="column">
            <table class="table table-sm table-bordered" style="margin-left:45%;margin-top:5%">
                <tr>
                    <td><b>@Html.DisplayNameFor(model => model.Title)</b></td>
                    <td> @Html.DisplayFor(model => model.Title)</td>
                </tr>
                <tr>
                    <td><b>@Html.DisplayNameFor(model => model.Description)</b></td>
                    <td>@Html.DisplayFor(model => model.Description)</td>
                </tr>
                <tr>
                    <td><b>@Html.DisplayNameFor(model => model.Author)</b></td>
                    <td>@Html.DisplayFor(model => model.Author)</td>
                </tr>
                <tr>
                    <td><b>@Html.DisplayNameFor(model => model.ISBN)</b></td>
                    <td>@Html.DisplayFor(model => model.ISBN)</td>
                </tr>
                <tr>
                    <td><b>@Html.DisplayNameFor(model => model.College)</b></td>
                    <td>@Html.DisplayFor(model => model.College)</td>
                </tr>
                <tr>
                    <td><b>@Html.DisplayNameFor(model => model.Rate)</b></td>
                    <td>@Html.DisplayFor(model => model.Rate)</td>
                </tr>
            </table>
        </div>
    </div>
</div> 
    </div>
<div class="text-center">
    @*<a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
