@model SecondHandBook.Models.UserProfileModel

@{
    ViewData["Title"] = "Details";
}

<div class="panel panel-success">
    <div class="panel-heading text-center"><h4 style="color:crimson">Details of User Profile</h4></div>
    <div class="panel-body">
        <table class="table table-sm table-bordered">
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.FirstName)</b></td>
                <td>@Html.DisplayFor(model => model.FirstName)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.LastName)</b></td>
                <td>@Html.DisplayFor(model => model.LastName)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.DateOfBirth)</b></td>
                <td>@Html.DisplayFor(model => model.DateOfBirth)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.Mobile)</b></td>
                <td>@Html.DisplayFor(model => model.Mobile)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.Address)</b></td>
                <td>@Html.DisplayFor(model => model.Address)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.City)</b></td>
                <td>@Html.DisplayFor(model => model.City)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.Province)</b></td>
                <td>@Html.DisplayFor(model => model.Province)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.Country)</b></td>
                <td>@Html.DisplayFor(model => model.Country)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.PostalCode)</b></td>
                <td>@Html.DisplayFor(model => model.PostalCode)</td>
            </tr>
        </table>
    </div>
    </div>
    <div class="text-center">
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> @*|
        <a asp-action="Index">Back to List</a>*@
    </div>
